extends: default.liquid
title: "Aktuelle Ausgabe von Harriet"
---


{% assign post = posts|first%}
<div class="edition"><a href="/{{post.edition}}">Aktuelle Ausgabe {{post.edition}}</a> vom {{post.date | date:"%d.%m.%Y"}}:</div>

{{post.content}}

<section>
	{% include _includes/subscribe-box.liquid %}
</section>
