<div class="autorin">
	<img src="{{autorin.photo_url}}" alt="{{autorin.vollername}}" />
	<div>
		<h3 title="{{autorin.vollername}}">{{autorin.name}}
			{% if autorin.fuer_dib %}<span class="for-dib"><br /> für DEMOKRATIE IN BEWEGUNG</span>{% endif %}</h3>
	</div>
</div>