
<div class="inner-subscribe-box">

	<p>Politik ist nicht nur Männersache! Harriet informiert Dich alle drei Monate über spannende Themen, Frauen* und Veranstaltungen zum Thema Frauen*politik und Geschlechterpolitik. Wir wollen anregen, vernetzen, diskutieren. Sei dabei!</p>

    {% include subscribe-form.liquid %}
</div>