
	<div class="inner-subscribe-box">

		<p>Harriet, der Newsletter zur Geschlechterpolitik von DEMOKRATIE IN BEWEGUNG startet bald. Denn Politik ist nicht nur Männersache!</p>
		<p>Der Newsletter informiert Dich alle drei Monate über das Thema Geschlechterpolitik.</p>

        {% include _includes/subscribe-form.liquid %}
    </div>