
/* General styles */
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


.wrap {
  width: 100vw;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a, a:visited {
  font-style: normal;
  text-decoration: none;
  color: #eb5c4a;
}


h1 {
  font-family: "Merriweather", "New Times Roman", serif;
}

h2, h3, h4, h5 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}

h2 {
  display: inline-block;
  color: white;
  background: black;
  padding: 0.125em 0.5em;
}

h3 {
  font-weight: normal;
}

hr {
  border-color: #eee;
}

footer {
  margin-top: 2em;
  padding-top: 1.5em;
  font-size: 0.8em;
  line-height: 0.9em;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: 1px black solid;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer ul li {
  display: inline;
  padding-right: 0.5em;
}

footer ul li:not(:first-child)::before {
  content: "|";
  padding-right: 0.5em;
}


/* topbar specifics */
nav {
  display: flex;
  border-bottom: 2px black solid;
  display: flex;
  align-items: center;
}

section {
  padding: 0 2em;
}

section:first-child {
  /*flex: 1 1 auto;*/
  padding-top: 20px;
}

.brand, .brand:visited {
  display: flex;
  align-items: center;
  color: black; 
  justify-content: flex-start;
}

.brand img {
  height: 2.5em;
  display: inline;
  margin: 0 0.25em;
}

.brand h1 {
  margin-left: 0;
  padding-left: 0;
}

.brand h1:first-letter {
  font-size: 2em;
}

footer {
  display: flex;
}

footer svg {
  fill: #999;
  transition: 0.25s fill;
}

footer a:hover svg {
  fill: #333;
}

.subtitle {
  margin: 0 2em;
  text-align: center;
  display: inline-block;
}

/* CONTENT */

.edition {
  font-size: 0.8em;
}

.edition-title {
  margin-top: 0;
}

.page-controls {
  text-align: center;
  padding-top: 1em;
  font-size: 0.85em;
}

.side-by-side {
  display: flex;
  margin-bottom: 3em;
}

.side-by-side > img {
  width: 35%;
}

.side-by-side img:first-child {
  margin-right: 1em;
}

.side-by-side img:last-child {
  margin-left: 1em;
}

.side-by-side h3 {
  /* top aligned */
  padding-top: 0;
  margin-top: -4px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.column > img {
  width: 100%;
}

/* Redaktion */
.profiles {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.profiles ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.profiles ul li {
  padding: 0 0.25em;
}



/* SPECIALS */

.heart {
  color: #de00ff;
}


.inner-subscribe-box {
  width: 85%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
}

.inner-subscribe-box button,
.inner-subscribe-box input {
  font-size: 1.5em;
  margin: 0;
  border: 1px solid black;
  color: white;
  background: black;
  padding: 0.0125em 0.25em;
  border-left: 1px solid white;
}

.inner-subscribe-box form {
  text-align: center;
}