extends: default.liquid
title: "Harriet 2017/4"
edition: 2017/4
date: 15 Dec 2017 10:00:00 +0100
path: /:edition/
---

<section>
    <h2>Aktuell</h2>

    <div class="side-by-side">
        <img src="/static/2017-4/metoo-2859980_1280.jpg">
        <div>
        <h3>#metoo: Gemeinsam sind wir stark!</h3>
        <p>Im Oktober begannen Frauen auf der ganzen Welt, offen zu bekunden, dass sie Opfer sexueller Übergriffe waren oder sind. Seitdem wurde viel diskutiert, viele Menschen haben in der Öffentlichkeit Folgen daraus gezogen, Theorien aufgestellt. Männer wurden geächtet, andere haben sich aufgeregt. Es wurde viel geredet. <a href="/2017/04/">weiterlesen</a>
        </p></div>
    </div>

    <div class="side-by-side">
        <div>
        <h3>Frauen in die Politik — Warum uns das alle was angeht</h3>
        <p>Liebe Frauen, es ist eine Grundüberzeugung - ich würde schon fast sagen Gründungsmythos - von DiB, dass eine Gesellschaft, in der alle beteiligt sind, eine bessere Gesellschaft für alle Menschen sein wird. Für uns war das von Anfang an verbunden mit dem Kampf für die Chancengleichheit für Menschen jeden Geschlechts und jeder Herkunft. ... <a href="">weiterlesen</a>
        </p></div>

        <img src="/static/2017-4/Untitled-1520x853.jpg">
    </div>

</section>

<section>
    <h2>Frauen* bei DiB</h2>

    <div class="side-by-side">
        <img src="/static/2017-4/track-1920x1080.jpg">
        <div>
        <h3>Wir wollen mehr Frauen!</h3>
        <p>Wir wollen mehr Frauen! Bei DiB, in der Politik: Im Oktober haben wir Frauen uns anlässlich des ersten Frauen*-DiB-Tisches in Wuppertal getroffen. Es war so schön, dass Ihr dabei wart! Unser Wunsch ist, dass wir immer mehr Frauen bei DEMOKRATIE IN BEWEGUNG und in der Politik werden. Genau das war das Hauptthema bei unserem Treffen: <strong>Warum machen bisher so wenige Frauen in der Politik mit und wie können wir mehr Frauen dafür begeistern?</strong> <a href="https://bewegung.jetzt/2017/11/03/wir-wollen-mehr-frauen/">weiterlesen</a>
        </p></div>
    </div>

    <div class="side-by-side">
        <div>
        <p>Wir möchten uns vorstellen. Wir wollen zeigen, welche Frauen* bei uns aktiv sind und zeigen, wie bunt, vielfältig und auch irgendwie normal wir sind. Jede Frau* kann Politik machen! Wir beginnen mit Franka, einer wunderbaren Frau. <a href="">weiterlesen</a>
        </p></div>

        <img src="/static/2017-4/Untitled-1520x853.jpg">
    </div>
</section>

<section class="side-by-side">

    <div class="column">
        <div><h2>#FemaleFuture</h2></div>
        <img src="/static/2017-4/people-2590606_1280.jpg">
        <p>Die Zukunft braucht keine Quote, die Gegenwart schon. Warum? Wir erklären es gerne - hier!
        </p>
    </div>

    <div class="column">
        <div><h2>#FemalePast</h2></div>
        <img src="/static/2017-4/womens-march-2001566_1280.jpg">
        <p>Unter #FemalePast wollen wir über historische Ereignisse und tolle Frauen* in der Vergangenheit berichten. Diesmal: das Frauenwahlrecht.  [weiterlesen]</p>
        </p>

    </div>
</section>

<section><p>
    
</p></section>