{% include _includes/header.liquid %}
<section role="content" id="main" class="article">
	<h2>{{title}}</h2>
  	{{ content }}
</section>
{% include _includes/subscribe-box.liquid %}
{% include _includes/footer.liquid %}