{% include header.liquid %}
<section role="content" id="main" class="article">
	<h2>{{title}}</h2>
  	{{ content }}
</section>
{% comment %}

variable assignments aren't allowed!

{% if autorin %}
	{% assign aut=site.data.autorinnen[autorin] %}
	{{autorin}}
	<section role="content" class="autorin">
		{% include autorin.liquid with autorin=aut %}
	</section>
{% endif %}
{% endcomment %}
{% include subscribe-box.liquid %}
{% include footer.liquid %}