{% include header.liquid %}
<section role="content" id="main" class="post">
  {{ content }}

  <p class="page-controls">
    {% if previous %}
      <a href="/{{previous.path|replace:'index.html',''}}">« Vorherige Ausgabe</a>
    {% endif %}

    {% if next %}
      <a href="/{{next.path|replace:'index.html',''}}">Nächste Ausgabe »</a>
    {% endif %}
  </p>
</section>
{% include subscribe-box.liquid %}
{% include footer.liquid %}